$small-phone: 320px;
$phone: 375px;
$small-tablet: 550px;
$tablet: 768px;
$medium-tablet: 992px;
$landscape-tablet: 1024px;
$large-tablet: 1200px;
$desktop: 1300px;
$medium-desktop: 1600px;

@mixin small-phone {
  @media (min-width: #{$small-phone}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}

@mixin small-tablet {
  @media (min-width: #{$small-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin medium-tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin landscape-tablet {
  @media (min-width: #{$landscape-tablet}) {
    @content;
  }
}

@mixin large-tablet {
  @media (min-width: #{$large-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin ico-desktop {
  @media (min-width: #{$ico-desktop}) {
    @content;
  }
}

@mixin medium-desktop {
  @media (min-width: #{$medium-desktop}) {
    @content;
  }
}
